* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: bold;
}

html {
  background: #F5F5F5;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #0798EA;
  border-radius: 3em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5bbef4;
}